body {
  /* font-family: "Playfair Display", sans-serif; */
  font-family: "Montserrat", sans-serif;
  /* font-family: "Playfair Display", serif; */
}
/*-------------Navbar----------*/
/*----------Table --------------*/

.logo-decoration {
  text-decoration-color: black;
}
.logo-style {
  font-family: "Playfair Display", serif;
}
.underlined-p {
  text-decoration: underline;
  text-decoration-color: rgb(60, 128, 103);
  text-underline-offset: 4.8px;
  text-decoration-thickness: 1px;
}
/* Home  */

.home-banner {
  background-image: url("../../images/trasnport\ 1.png");
  position: relative;
  height: 478px;
}

.home-banner::after {
  position: absolute;
  background-image: url("../../images//Rectangle\ 1.png");
  top: 0;
  left: 0;
  content: " ";
  height: 478px;
  width: 100%;
}
.ticketing-banner {
  position: relative;
  height: 478px;
}
.ticketing-banner::before {
  position: absolute;
  background: url("../../images/transport\ 2.png") no-repeat;
  top: 0;
  left: 0;
  content: " ";
  height: 478px;
  width: 438px;
}
.ticketing-banner::after {
  position: absolute;
  background: url("../../images/go\ to\ 1.png") no-repeat;
  top: 0;
  right: 0;
  content: " ";
  height: 478px;

  width: 408px;
}
.products .carousel-control-next {
  width: 2rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: solid 2px rgb(197, 219, 245);
  border-radius: 50%;
  top: 40%;
}
.products .carousel-control-next-icon {
  background-image: url("../../images//next-icon.png");
  position: absolute;
  /* top: 100%; */
  margin-top: 20px;
  width: 0.61rem;
  height: 1rem;
}
.products .carousel-control-prev {
  width: 2rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: solid 2px rgb(197, 219, 245);
  border-radius: 50%;
  top: 40%;
}
.products .carousel-control-prev-icon {
  background-image: url("../../images//prev-icon.png");
  position: absolute;
  /* top: 100%; */
  margin-top: 20px;
  width: 0.61rem;
  height: 1rem;
}
/* .products.carousel .carousel-indicators li {
  margin: 0px 20px 20px 0px;
  background-color: #fff;
  background-color: rgba(19, 196, 228, 0.25);
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.products .carousel .carousel-indicators .active {
  background-color: rgb(21, 93, 228);
}
.products .carousel-indicators {
  position: absolute;
  top: 100%;
  margin-top: 20px;
} */
/* ABOUT US */
.our-story-title::before {
  position: absolute;
  left: 0;
  top: 0;
  content: " ";
  width: 30px;
  height: 35px;
  background-color: rgba(46, 139, 192, 1);
  border-radius: 10px 0px 0px 10px;
  /* border-width: 2px 10px 0px 10px; */
  border-style: solid;
  border-color: rgba(46, 139, 192, 1);
}
/* Sign up form */
.signup .form-check-input:checked {
  background-color: rgba(12, 45, 72, 1);
  border-color: rgba(12, 45, 72, 1);
}
/* Bus */
.bus-hero {
  background: url("../../images//kbs\ bus.png") no-repeat;
  background-size: cover;
  position: relative;
  height: 511px;
}
.bus-hero::before {
  background-color: rgba(12, 45, 72, 0.92);
  content: "";
  display: block;
  /* height: 100%; */
  position: absolute;
  height: 511px;
  width: 100%;
  z-index: 1;
}
/*
.bus-hero::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 456px;
  content: " ";

  background: url("../../images//kbs\ bus.png") no-repeat;
  background-size: cover;
} */
.blocker {
  /* background-image: url("../../images//kbs\ bus.png") no-repeat;
  position: relative; */
  background: url("../../images//kbs\ bus.png") no-repeat;
  background-size: cover;
  position: relative;
}

.blocker::before {
  /* background-color: rgba(0, 0, 0, 0.37);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  height: 456px; */

  background-color: rgba(12, 45, 72, 0.92);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  /* top: 0; */
  width: 100%;
  /* height: 511px; */
  z-index: 1;
}
/* Slider */
/* .slide-container {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: red;
} */
.image-slider {
  /* width: 100%; */
  height: 400px;
  /* position: absolute; */
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}
.hire-hero .carousel-inner {
  display: flex;
}
.hire-hero .carousel-item {
  display: block;

  justify-self: end;
  align-self: center;
  left: 50%;
}
.hire-hero .carousel-item img {
  height: 383px;
  width: 348px;
}
.hire-hero .carousel-item.active {
  z-index: 1;
  left: 0;
}
.hire-hero .carousel-item.active img {
  height: 450px;
  width: 423px;
  z-index: 1;
}
.hire-hero .carousel-control-next {
  width: 4rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: solid 2px rgb(197, 219, 245);
  top: 90%;
  /* bottom: 10%; */
}
.hire-hero .carousel-control-next-icon {
  background-image: url("../../images/carousel-next.png");
  position: absolute;
  width: 2.61rem;
  height: 0.7rem;
}
.hire-hero .carousel-control-prev {
  display: none;
}
